* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
  height: 300vh;
  font-family: "Montserrat", sans-serif;
}
main {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
}
main a {
  text-decoration: none;
}

/*------------------------section 1--------------------------------------*/

#sec1 {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}
#sec1 h1 {
  font-size: 100px;
  margin: auto;
  font-family: "Montserrat Subrayada", sans-serif;
  text-align: center;
  color: black;
}
#descri {
  padding: 5px;
  width: 100%;
  background: rgb(13, 202, 92);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  text-align: center;
}

/*------------------------section 2--------------------------------------*/
#sec2 {
  background: violet;
  display: flex;
  justify-content: space-between;
}
.log {
  background: rgb(192, 21, 141);
  width: 49%;
  position: relative;
  z-index: 0;
}
.log h2 {
  text-align: center;
}

#a-pro {
  position: absolute;
  top: 25%;
  left: 60%;
  background: white;
  padding: 10px;
  border: solid 1px black;
  z-index: 1;
}

#a-conso {
  position: absolute;
  top: 25%;
  right: 60%;
  background: white;
  padding: 10px;
  border: solid 1px black;
  z-index: 1;
}

#sec2 img {
  max-width: 100%;
  height: auto;
}

#sec2 .container {
  height: 300px;
  width: 100%;
  background: url("../images/producteur.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container a {
  text-decoration: none;
}
.container h2 {
  color: red;
}
/*------------------------liste Producteurs--------------------------------*/
.image-classe {
  height: 108px;
  width: 192px;
  object-fit: contain;
}

td,
th {
  text-align: center;
}
.section-down {
  border: black 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 100px;
}
.section-producteurs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*------------------------panier--------------------------------*/
.image-panier {
  height: 72px;
  width: 128px;
  object-fit: contain;
}
.section-panier {
  border: black 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
}
.section-sous-panier {
  background: blue;
  text-align: right;
  padding-right: 10%;
}
.tr-bottom {
  border-bottom: 1px black solid;
}
.fa-shopping-cart {
  font-size: 20px;
}
/*-----------------------Page Produit Publique--------------------------*/
.section-produit {
  border: black 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.produit-top {
  text-align: center;
}
.produit-main {
  width: 100%;
  background: red;
  display: flex;
  flex-direction: row;
}
.produit-main-left {
  text-align: center;
  width: 40%;
  background: chartreuse;
  padding: 25px 25px 25px 25px;
}
.produit-main-left img {
  height: auto;
  width: 100%;
  /* object-fit: contain; */
}
.produit-main-right {
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.produit-achat {
  padding: 15px 15px 15px 15px;
  background: coral;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*------------------------section 3--------------------------------------*/
.sec3 {
  padding: 20px 20px 20px 20px;
  background: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec3 h2 {
  margin-bottom: 20px;
}
.sec33 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.prodShop {
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.prodShop a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prodShop img {
  width: 250px;
  /* height: auto; */
  object-fit: contain;
}
.shop {
  position: absolute;
  top: 130px;
  background-color: rgba(192, 192, 192, 0.8);
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
}
.carousel-item div {
  width: 30%;
}
.carousel-item div img {
  width: 100%;
}
/* .carousel-item {
    display: flex;
    flex-direction: row;
  } */
/*------------------------section 4 carte de France-----------------------*/
.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.map svg {
  margin-top: 80px;
  width: 60%;
}

.region {
  cursor: pointer;
  transition: 0.2s;
}
.region:hover {
  stroke: tomato;
  fill: tomato;
}

/*----------------------- Responsive --------------*/
@media screen and (max-width: 750px) {
  /*  --------------  nav  ---------------   */

  .accordion {
    font-size: 1rem;
  }
  #aShop i span {
    font-size: 2.5rem;
  }
  .accordion a span:last-child {
    font-size: 1.8rem;
  }
  #nav-desk {
    display: none;
  }
  #nav-mobile {
    display: block;
    position: relative;
    width: 100%;
  }

  .burger {
    display: block;
  }
  .divLogo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #aShop {
    padding: 5px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #aShop i {
    margin-right: 5%;
  }
  /*  --------------  section 1  ----------------   */
  #sec1 {
    padding-top: 0px;
  }
  #sec1 h1 {
    font-size: 50px;
  }
  #sec1 p {
    font-size: 0.9rem;
  }
  /*  --------------  section 2  ----------------   */
  #sec2 {
    flex-direction: column;
  }
  .log {
    width: 100%;
  }
  /*  --------------  section4   -------------*/
  .map svg {
    margin-top: 0px;
    width: 100%;
  }
}
/* @media screen and (min-width: 751px) {
    #nav-desk {
      display: flex;
    }
    #nav-mobile {
      display: none;
    }
    .acc {
      display: none;
    }
  } */
