* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 56px;
  background-color: #c8d8e4;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
main {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
}
main a {
  text-decoration: none;
}
.foot-head {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.foot-main {
  background-color: #52ab98;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  padding-top: 15px;
  padding-bottom: 35px;
}

footer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #2b6777;
}
.foot-link {
  color: white;
  transition: 0.3s;
}
.foot-link:hover {
  color: black;
  cursor: pointer;
}
.foot-link-top {
  color: white;
  transition: 0.3s;
}
.foot-link-top:hover {
  color: #fd7a7a;
  cursor: pointer;
}
.btn {
  background-color: #52ab98;
  color: white;
}

.btn:hover {
  background-color: #2b6777;
  color: white;
}
.btn-card {
  width: 100%;
  background-color: #52ab98;
  color: white;
}
.btn-card:hover {
  background-color: #2b6777;
  color: white;
}
.modal-content div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

/*------------------------section 1--------------------------------------*/

#sec1 {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: black;
}
#sec1 h1 {
  font-size: 100px;
  margin: auto;
  font-family: "Montserrat Subrayada", sans-serif;
  text-align: center;
  color: black;
  /* background: center / 50%
    url(../images/japanese-vintage-rising-sun-symbol-vector-23635130.jpg)
    no-repeat; */
}
#descri {
  padding: 5px;
  width: 100%;
  background: #f2f2f2;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  text-align: center;
}

/*------------------------section 2--------------------------------------*/
#sec2 {
  background: linear-gradient(0deg, #c8d8e4, #f2f2f2);
  display: flex;
  justify-content: space-between;
}
.radius-left {
  border-bottom-left-radius: 7%;
}
.radius-right {
  border-bottom-right-radius: 7%;
}

/* #sec2 img {
  background: linear-gradient(0deg, #c8d8e4, #f2f2f2);
  display: flex;
  justify-content: space-between;
} */

#sec2 a {
  text-decoration: none;
}
#sec2 a h2 {
  color: #52ab98;
  transition: 1s;
}

#sec2 a h2:hover {
  color: white;
}

#sec2 a h3 {
  color: #2b6777;
  transition: 1s;
}

#sec2 a h3:hover {
  color: white;
}

.log {
  opacity: 1;
  transition: 0.5s;
  border: solid 1px black;
  background: #f5eec2;
  width: 49%;
  position: relative;
  z-index: 0;
}
.log:hover {
  opacity: 0.85;
  background-color: #2b6777;
  /* background-color: #52ab98; */
  color: #f5eec2;
}
.log h2 {
  text-align: center;
  /*confiance*/
  color: #52ab98;
  color: #2b6777;

  /*eco*/
  color: #416a59;
  color: #39395f;
  color: #73a24e;
  color: #a9c25d;
}

#a-pro {
  position: absolute;
  top: 25%;
  left: 60%;
  padding: 10px;
  border: solid 1px black;
  z-index: 1;
}

#a-conso {
  position: absolute;
  top: 25%;
  right: 60%;
  padding: 10px;
  border: solid 1px black;
  z-index: 1;
}

#sec2 img {
  max-width: 100%;
  height: auto;
}
#sec2 .container2 {
  height: 300px;
  width: 100%;
  background: url("../images/consommatrice.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 a {
  text-decoration: none;
}

#sec2 .container {
  height: 300px;
  width: 100%;
  background: url("../images/producteur.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container a {
  text-decoration: none;
}
.container h2 {
  color: red;
}
/*------------------------liste Producteurs/Produits--------------------------------*/
.div-image {
  height: 70px;
  width: 100px;
}
.image-classe {
  height: 70px;
  width: 100px;
  object-fit: contain;
}
.section-down {
  /* background-color: #52ab98; */
  /* background-color: #2b6777; */
  /* background: #f5eec2; */
  background: #f2f2f2;

  border: black 1px solid;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  /* margin-bottom: 100px; */
}
.section-producteurs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-tab {
  display: block;
}
.sec-card {
  display: none;
}
.cardimage {
  width: 250px !important;
  border-radius: 3% !important;
}
.card-nav nav {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.card {
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #2b6777;
}
/*-------------------------datatables---------------*/
td,
th {
  text-align: center;
}
td {
  height: 70px;
}
/*-------------------------tableau panier------------------------*/
.tabPanier th {
  border: 0px;
}
.tabPanier td {
  border: 0px;
}
.tabPanier td {
  height: 80px;
}
/*------------------------panier--------------------------------*/
.image-panier {
  height: 70px;
  width: 100px;
  object-fit: contain;
}
.section-panier {
  border: black 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
}

.section-sous-panier .btn {
  width: 100%;
}

.tr-bottom {
  border-bottom: 1px black solid;
}
.fa-shopping-cart {
  font-size: 20px;
}
/*-----------------------Page Produit Publique--------------------------*/
.section-produit {
  border: black 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.produit-top {
  text-align: center;
}
.produit-main {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.produit-main-left {
  text-align: center;
  padding: 25px 25px 25px 25px;
  display: flex;
  align-items: center;
  width: 40%;
}
.produit-main-left img {
  height: auto;
  width: 100%;
}
.produit-main-right {
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
.produit-achat {
  padding: 15px 15px 15px 15px;
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*------------------------section 3--------------------------------------*/
.sec3 {
  padding: 20px 20px 20px 20px;
  background: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec3 h2 {
  margin-bottom: 20px;
}
.sec33 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.prodShop {
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.prodShop a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prodShop img {
  width: 250px;
  /* height: auto; */
  object-fit: contain;
}
.shop {
  position: absolute;
  top: 130px;
  background-color: rgba(192, 192, 192, 0.8);
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
}
.carousel-item div {
  width: 30%;
}
.carousel-item div img {
  width: 100%;
}
/* .carousel-item {
    display: flex;
    flex-direction: row;
  } */
/*------------------------section 4 carte de France-----------------------*/
.map {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.map svg {
  margin-top: 80px;
  width: 60%;
}

.region {
  cursor: pointer;
  transition: 0.2s;
}
.region:hover {
  stroke: #fd7a7a;
  fill: #fd7a7a;
}

/*  --------------  cookies   -------------*/
.cgu {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1 h3 {
  color: #2b6777;
}
.sec1 h1 {
  text-align: center;
}
.cgu h1 {
  text-align: center;
}
.sec1 h6 {
  text-align: center;
}
.footix {
  margin-top: 20px;
  width: 100%;
}
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.login-btn-other {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
form {
  border: 1px solid black;
  padding: 15px;
  border-radius: 10%;
  margin-top: 20px;
}
.inscriptionDiv div {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
}
/*------------fiche producteur-----------*/
.fiche-producteur-stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .fiche-producteur-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
/*----------------------- Responsive --------------*/
@media screen and (max-width: 995px) {
  /*  --------------  section 1  ----------------   */
  #sec1 {
    padding-top: 0px;
  }
  #sec1 h1 {
    font-size: 50px;
  }
  #sec1 p {
    font-size: 0.9rem;
  }
  /*  --------------  section 2  ----------------   */
  #sec2 {
    flex-direction: column;
  }
  .log {
    width: 100%;
  }
  .log h2 {
    font-size: 25px;
  }
  .radius-left {
    border-bottom-left-radius: 0%;
  }
  .radius-right {
    border-bottom-right-radius: 7%;
    border-bottom-left-radius: 7%;
  }
  .sec-tab {
    display: none;
  }
  .sec-card {
    display: block;
  }
  .card-global {
    /* border: 1px solid #2b6777; */
    border-radius: 3%;
  }

  /*  --------------  section4   -------------*/
  .map svg {
    margin-top: 0px;
    width: 100%;
  }
  footer {
    font-size: 12px;
  }
  .cgu p {
    font-size: 13px;
  }
  .accordion-body {
    font-size: 13px;
  }
  .cgu h3 {
    font-size: 20px;
  }
  .accordion-body h3 {
    font-size: 20px;
  }
  .accordion-header button {
    font-size: 17px;
  }
  .login-btn-other {
    display: flex;
    flex-direction: column;
  }
  .login-btn-other a {
    margin-top: 20px;
  }
  .card-header p,
  h5 {
    font-size: 12px;
  }
  .card-body li,
  p {
    font-size: 12px;
  }

  /*------------fiche produit--------------*/
  .produit-main-right {
    padding: 15px;
  }
  .produit-main-left {
    padding: 15px;
  }
  .produit-main-right h4 {
    font-size: 18px;
  }
  .produit-achat {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  /*-------------------------------------*/
  .modal-content p,
  li {
    font-size: 10px;
  }
  .modal-content {
    padding: 3px;
  }
  .modal-content h3 {
    font-size: 15px;
    text-align: center;
  }
  .modal-content div {
    flex-direction: column;
    width: 100%;
  }
  .modal-content button {
    margin-bottom: 5px;
    width: 100%;
  }
  /*------------------------------------*/
  .card-nav nav {
    font-size: 12px;
  }
  .card-nav nav li a {
    padding: 6px 6px 6px 6px;
  }
  .card-nav nav li span {
    padding: 6px 6px 6px 6px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card p {
    font-size: 12px;
  }
  .card h5 {
    font-size: 16px;
  }
  .cardimage {
    width: 100% !important;
  }
  #sec1 h1 {
    font-size: 30px;
  }
  #sec1 p {
    font-size: 12px;
  }
  .log h2 {
    font-size: 15px;
  }
  #a-pro {
    left: 50%;
  }
  #a-conso {
    top: 33%;
    right: 60%;
  }
  .btn {
    font-size: 12px;
    padding: 3px !important;
  }
  .btn-card {
    font-size: 20px;
    height: 40px;
  }

  footer {
    font-size: 12px;
  }

  .foot-main {
    flex-direction: column;
    text-align: center;
  }
  .cgu p {
    font-size: 11px;
  }
  .accordion-body {
    font-size: 11px;
  }
  .cgu h3 {
    font-size: 15px;
  }
  .accordion-body h3 {
    font-size: 15px;
  }
  .accordion-header button {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
  }
  .login-btn-other {
    flex-direction: column;
  }

  .login-btn-other {
    display: flex;
    flex-direction: column;
  }
  .login-btn-other a {
    margin-top: 20px;
  }
  .inscriptionDiv div {
    padding: 5px 0px 5px 0px;
  }
  .inscriptionDiv label {
    font-size: 12px;
  }
  .inscriptionDiv input {
    font-size: 12px;
  }
  .inscriptionDiv option,
  select {
    font-size: 12px;
  }
  .inscriptionDiv h1 {
    font-size: 20px;
  }
  .tabPanier {
    font-size: 15px;
  }
  .card-header p,
  h5 {
    font-size: 10px;
  }
  .card-body li,
  p {
    font-size: 10px;
  }
  /*------------fiche produit--------------*/
  .produit-main {
    flex-direction: column;
    width: 100%;
  }
  .produit-main-left,
  .produit-main-right {
    width: 100%;
  }

  .produit-main-right h4 {
    font-size: 13px;
  }
  .produit-top h3 {
    display: flex;
    flex-direction: column;
  }
  .section-producteurs h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section-producteurs h5,
  p {
    font-size: 14px;
    text-align: center;
  }
  .section-producteurs h4,
  p {
    font-size: 16px;
    text-align: center;
  }
}
