/* ------------------sidebar------------------- */
.sideBarAdmin {
  border-right: 1px solid ghostwhite;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.vMobile {
  border: 0px;
  padding: 2px;
}

.vMobile a {
  font-size: 10px;
}

.sidebarAdmin a {
  text-decoration: none;
}
