{% extends "vendeur/base_vendeur.html.twig" %}

{% block title %}creer boutique{% endblock %}


{% block body %}

    <section class="col-9 mt-4 card">

        <div class="card-header col-12 boutique-up"> 
            <h3> Créer une boutique</h3>
            <a href="{{ path('vendeur_home') }}" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
        </div>

        <div class="car-body col-12 section-down">
           {# {% include "admin/shared/_messages_flash.html.twig" %} #}
            {{ form_start(formBoutique) }}

            {{ form_widget(formBoutique) }}
                <button class="btn btn-primary mt-3">Enregistrer</button>
            {{ form_end(formBoutique) }}
        </div>

    </section>

{% endblock %}