{% extends "vendeur/base_vendeur.html.twig" %}

{% block title %}Modifier Boutique{% endblock %}


{% block body %}

    <section class="main-acheteur">

        <div class="card-header boutique-up"> 
            <h3> Modifier la boutique</h3>
            <a href="{{ path('show_boutique', { 'id' : id }) }}" class="btn btn-warning">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
            
        </div>

        <div class="car-body section-down form-boutique">
          
            {{ form_start(formBoutique) }}

            {{ form_widget(formBoutique) }}
                <button class="btn btn-primary mt-3">Enregistrer</button>
            {{ form_end(formBoutique) }}
        </div>

    </section>

{% endblock %}