{% extends "acheteur/base_acheteur.html.twig" %}

{% block title %}creer adresse{% endblock %}


{% block body %}
{% include "acheteur/shared/_header.html.twig" %}

<div class="row mainVendeur">
    {% include "acheteur/shared/_sidebar.html.twig" %}
    <setion class="col-9 mt-4 card">

        <div class="card-header col-12 boutique-up">
            <h3> Votre adresse : </h3>
            <a href="{{ path('profile_personnel') }}" class="btn btn-primary btn-sm">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
        </div>

        <div class="car-body col-12 section-down">
           {# {% include "admin/shared/_messages_flash.html.twig" %} #}
            {{ form_start(formAdresse) }}

            {{ form_widget(formAdresse) }}
                <button class="btn btn-primary mt-3">Enregistrer</button>
            {{ form_end(formAdresse) }}
        </div>

    </section>
</div>


{% endblock %}