<footer class="container">
    <div class="foot-head row">
        <a class="foot-link-top" href="#">Retour en haut</a>
    </div>
    <div class="foot-main row">
        <div class="col">
            <a class="foot-link" href="{{ path('public_cgu') }}">Conditions générales d'utilisation</a></div>
        <div class="col">
            <a class="foot-link" href="{{ path('public_politique_cookies') }}">Politique de confidentialité - Cookies</a></div>
        <div class="col">
            <a class="foot-link" href="{{ path('public_mentions_legales') }}">Mentions légales</a>
        </div>
        <div class="col">
            <p><a class="foot-link" href="https://www.facebook.com/groups/4368398186585674/">Retrouvez-nous sur <i class="fab fa-facebook-square" style="color:#3b5998; font-size:20px"></i></a></p>
            <a class="foot-link" href="mailto:maurice.henriet@yahoo.fr">Contact</a>
        </div>
    </div>

</footer>