{% extends "vendeur/base_vendeur.html.twig" %}

{% block title %}modifier le produit{% endblock %}


{% block body %}

    <section class="col-9 mt-4 card">

        <div class="card-header col-12 boutique-up">
            <h3> Modifier la produit</h3>
            <a href="{{ path('show_boutique', { 'id' : id }) }}" class="btn btn-warning">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
            
        </div>

        <div class="car-body col-12 section-down">
           {# {% include "admin/shared/_messages_flash.html.twig" %} #}
            {{ form_start(formProduit) }}

            {{ form_widget(formProduit) }}
                <button class="btn btn-primary mt-3">Enregistrer</button>
            {{ form_end(formProduit) }}
        </div>

    </section>

{% endblock %}