{% extends "base.html.twig" %}

{% block title %}Le marché Virtuel - mentions légales{% endblock %}

{% block body %}
    <section class="cgu">
        <div>
            <h1>Conditions générales d'utilisation - Le Marché Virtuel</h1>
            <div class="accordion accordion-flush" id="accordionFlush">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-1" aria-expanded="false" aria-controls="flush-collapseOne">
                            Préambule : définitions
                        </button>
                    </h2>
                    <div id="flush-collapse-1" class="accordion-collapse collapse" aria-labelledby="flush-1" data-bs-parent="#accordionFlush">
                        <div class="accordion-body">
                            Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales d'Utilisation, 
                            sur le marché virtuel, la signification suivante :
                            <p>
                                Acheteur : désigne tout Utilisateur personne physique majeure qui achète ou souhaite acheter 
                                un ou plusieurs Biens sur le Site à un Vendeur.
                            </p>
                            <p>
                                Annonceur : désigne toute personne physique majeure ou personne morale établie en France 
                                (inclus les DOM à l'exclusion de Mayotte et des COM), titulaire d’un Compte Vendeur, 
                                et ayant déposé et mis en ligne un ou des Produits via le Service "Le Marché Virtuel".
                            </p>
                            <p>
                                Boutique : désigne un espace vitrine créé par un vendeur rassemblant les Produits qu'il met à la vente, sous une catégorie 
                                (Fromages et Laitages, Fruits et Légumes, Charcuteries, Conserves, Céréales et Graines, Vins et Alcools, Miels et Confiseries, 
                                Eaux et Boissons sans alcool, Huiles et Assaisonnements, Objets, Outils, Habits et Autres).
                            </p>
                            <p>
                                Livraison : désigne le paquet précautionneusement emballé par le Vendeur, conformément aux conditions d’admission des colis de Mondial Relay 
                                ou les règles et conseils de Colissimo, sur lequel est collé le Bon d’Envoi pour le Service de Livraison Mondial Relay ou le Bordereau d’affranchissement 
                                pour le Service de Livraison Colissimo ou Courrier suivi et contenant le ou les Biens achetés par l’Acheteur via le Service de Paiement Sécurisé, 
                                destiné à être envoyé via le Service de Livraison.
                            </p>
                            <p>
                                Frais de Livraison : désigne les frais d’expédition fixés par le vendeur.
                            </p>
                            <p>
                                Notifications : désigne les notifications reçues par les Utilisateurs.
                            </p>
                            <p>
                                Remise en main propre : option proposée au Vendeur Particulier lorsqu’il dépose son Annonce et qui peut être sélectionnée par l’Acheteur, dans le cadre de l’Achat Direct, 
                                en vue de se faire remettre le Bien en main propre par le Vendeur Particulier, faisant ainsi l’économie du montant des Frais de livraison. La Remise en main propre, 
                                pour les Vendeurs Particuliers, est disponible dans les catégories et sous-catégories suivantes :
                            </p>
                            <p>
                                Utilisateur : désigne tout visiteur, ayant accès au Site, accessible depuis les différents supports.
                            </p>
                            <p>
                                Transaction : désigne les transactions qui transfèrent la propriété d’un Bien d’un Vendeur à un Acheteur, 
                                à compter de la validation du paiement et la réception du Bien par l’Acheteur, en vertu du contrat de vente conclu entre eux.
                            </p>
                            <p>
                                Vendeur : désigne tout Annonceur qui propose un ou plusieurs Biens à la vente.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-2" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Article 1 : Objet - Acceptation
                        </button>
                    </h2>
                    <div id="flush-collapse-2" class="accordion-collapse collapse" aria-labelledby="flush-2" data-bs-parent="#accordionFlush">
                        <div class="accordion-body">
                            <p>
                                Les CGU ont pour objet de déterminer les conditions d'utilisation du Service du Marché Virtuel mis à disposition des Utilisateurs.
                            </p>
                            <p>
                                Tout Utilisateur - tout Acheteur, tout Vendeur, déclare en accédant et utilisant le service du Marché Virtuel avoir pris connaissance 
                                des présentes Conditions Générales d’Utilisation et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit. 
                                Les présentes CGU sont donc pleinement opposables aux Utilisateurs, aux Acheteurs et aux Vendeurs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-3" aria-expanded="false" aria-controls="flush-collapseThree">
                            Article 2 : Utilisation du service "Le Marché Virtuel"
                        </button>
                    </h2>
                    <div id="flush-collapse-3" class="accordion-collapse collapse" aria-labelledby="flush-3" data-bs-parent="#accordionFlush">
                        <div class="accordion-body">                    
                            <h3>2.1 Règles générales</h3>
                            <p>
                                Tout Utilisateur déclare être informé qu’il devra, pour accéder au Service "Le Marché Virtuel", *
                                disposer d’un accès à l’Internet souscrit auprès du fournisseur de son choix, 
                                dont le coût est à sa charge, et reconnaît que :
                            </p>
                            <ul>
                                <li>
                                    La fiabilité des transmissions est aléatoire en raison, notamment, du caractère hétérogène des infrastructures et 
                                    réseaux sur lesquelles elles circulent et que, 
                                    en particulier, des pannes ou saturations peuvent intervenir,
                                </li>
                                <li>
                                    Il appartient à l’Annonceur de prendre toute mesure qu’il jugera appropriée pour assurer 
                                    la sécurité de son équipement et de ses propres données, 
                                    logiciels ou autres, notamment contre la contamination par tout virus et/ou de tentative 
                                    d’intrusion dont il pourrait être victime,
                                </li>
                                <li>
                                    Tout équipement connecté au Site est et reste sous l’entière responsabilité de l’Annonceur, 
                                    la responsabilité de LBC France ne pourra pas être recherchée 
                                    pour tout dommage direct ou indirect qui pourrait subvenir du fait de leur connexion au Site Internet.
                                </li>
                            </ul>
                            <p>
                                L’Annonceur s’engage, le cas échéant, à respecter et à maintenir la confidentialité des Identifiants 
                                de connexion à ses Comptes Acheteur/Vendeur et reconnaît expressément 
                                que toute connexion à son Compte, ainsi que toute transmission de données depuis 
                                son Compte Personnel sera réputée avoir été effectuée par l’Annonceur.
                            </p>
                            <p>
                                Toute perte, détournement ou utilisation des Identifiants de 
                                connexion et leurs éventuelles conséquences relèvent de la seule et 
                                entière responsabilité de l’Annonceur.
                            </p>
                            <p>
                                Le Vendeur est informé et accepte que pour des raisons d'ordre technique, 
                                son Annonce ne sera pas diffusée instantanément après son dépôt sur le Site et les Applications.
                            </p>
                            <p>
                                Le Vendeur est informé qu'en publiant son Produit sur le Site, 
                                celui-ci est susceptible d'être partagé par tout Utilisateur sur d'autres sites.
                            </p>
                            <p>
                                Tout Produit publié sera diffusé sur le Site. Son statut est soit Disponible, soit Indisponible à la vente.
                            </p>
                            <h3>2.2 Fonctionnalités</h3>
                            <p>
                                Le Service du "Marché Virtuel" proposé aux Utilisateurs varie en fonction de la qualité de "Acheteur" ou de "Vendeur".
                            </p>
                            <h5>
                                1) Fonctionnalités accessibles aux Utilisateurs logués ou non depuis le Site
                            </h5>
                            <ul>
                                <li>La consultation de tous les produits diffusés</li>
                                <li>La consultation de tous les Vendeurs (Boutique) diffusés</li>
                                <li>La constitution d'un panier</li>
                            </ul>
                            <h5>2) Fonctionnalités accessibles depuis le Site aux Vendeurs logués</h5>
                            <ul>
                                <li>
                                    La création, la modification de Boutique. La boutique peut "fermer" momentanément une Boutique 
                                    (depuis le même formulaire de modification), 
                                    cela bloque la possibilité de Vente des produits de la Boutique. 
                                    Pour supprimer une Boutique, le Vendeur doit avoir "fermé" sa boutique et contacter l'administrateur 
                                    du site "Le Marché Virtuel".
                                </li>
                                <li>
                                    La création, la modification de Produit. Un Produit peut être rendu "Indisponible" momentanément 
                                    (depuis le même formulaire de modification), 
                                    cela bloque la possibilité de Vente du produit. 
                                    Pour supprimer un Produit, le Vendeur doit avoir mis le Produit "Indisponible" 
                                    et contacter l'administrateur du site "Le Marché Virtuel".
                                </li>
                                <li>
                                    Consulter les commandes. Une commmande a 3 statuts (statut "à expédier" - suite à l'achat réalisé par un Acheteur ; 
                                    statut "en cours de livraison" - suite à l'expédition de la livraison, 
                                    suivie de la notification d'expédition par le Vendeur depuis son espace Vendeur ; 
                                    statut "livrée" - suite à réception de la livraison, 
                                    suivie par la notification de livraison par l'Acheteur depuis son espace Acheteur)
                                </li>
                                <li>
                                    Notifier l'avis d'expédition d'une commande.
                                </li>
                            </ul>
                            <h5>3) Fonctionnalités accessibles depuis le Site aux Acheteurs logués</h5>
                            <ul>
                                L'accès et la gestion du Compte Personnel, depuis l'Espace Acheteur :
                                    <li>
                                    La gestion du numéro de téléphone.
                                </li>
                                <li>
                                    La gestion de ses adresses personnelles et le choix de l'adresse de livraison.
                                </li>
                                <li>
                                    La réinitialisation de son mot-de-passe de connetion.
                                </li>
                                <li>
                                    Informations obligatoires : nom, prénom, email, mot de passe
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-4" aria-expanded="false" aria-controls="flush-collapseOne">
                            Article 3 : Modération 
                        </button>
                    </h2>
                    <div id="flush-collapse-4" class="accordion-collapse collapse" aria-labelledby="flush-4" data-bs-parent="#accordionFlush">
                        <div class="accordion-body">
                            <h3>3.1 Suppression des contenus illicites</h3>
                            <p>
                                "Le Marché vitruel" se réserve le droit de supprimer, sans préavis ni indemnité ni droit à remboursement, 
                                tout contenu (Produits, Boutique) qui ne serait pas conforme aux règles de diffusion du service du "Marché Vitruel" 
                                et/ou qui serait susceptible de porter atteinte aux droits d'un tiers.
                            </p>
                            <h3>3.2 Notification des Abus</h3>
                            <p>
                                Il est permis à tout Utilisateur de signaler un contenu abusif, par mail en cliquant sur le lien "Contact" en bas de page.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-5" aria-expanded="false" aria-controls="flush-collapseOne">
                            Article 4 : Responsabilités 
                        </button>
                    </h2>
                    <div id="flush-collapse-5" class="accordion-collapse collapse" aria-labelledby="flush-5" data-bs-parent="#accordionFlush">
                        <div class="accordion-body">
                            <h3>4.1 Engagements du Vendeur</h3>
                            <p>
                                Le Vendeur garantit détenir tous les droits (notamment des droits de propriété intellectuelle) 
                                ou avoir obtenu toutes les autorisations nécessaires à la publication de sa Boutique et de ses Produits.
                            </p>
                            <p>
                                Le Vendeur garantit que la Boutique et les Produits qu'il publit ne contreviennent à aucune réglementation en vigueur
                                (notamment relatives à la publicité, à la concurrence, à la promotion des ventes, à l'utilisation de la langue française, 
                                à l'utilisation de données personnelles, à la prohibition de la commercialisation de certains biens ou services), 
                                ni aucun droit de tiers (notamment aux droits de propriété intellectuelle et aux droits de la personnalité) 
                                et qu'il ne comporte aucun message diffamatoire ou dommageable à l'égard de tiers.
                            </p>
                            <p>
                                Ainsi, le Vendeur s'engage notamment à ce que son Contenu (Boutiques et Produits) ne contienne :
                                <ul>
                                    <li>
                                        aucun lien hypertexte redirigeant les Utilisateurs vers d'autres sites internet 
                                        hormis celui de sa production officielle ;
                                    </li>
                                    <li>
                                        aucune information fausse, mensongère ou de nature à induire en erreur les Utilisateurs
                                    </li>
                                    <li>
                                        aucune mention diffamatoire ou de nature à nuire aux intérêts et/ou à l'image du "Marché Virtuel" ou de tout tiers
                                    </li>
                                    <li>
                                        aucun contenu portant atteinte aux droits de propriété intellectuelle de tiers
                                    </li>
                                </ul>
                            </p>
                            <p>
                                Le Vendeur s'engage à bien tenir à jour la disponibilité des Produits proposés, dont il dispose. 
                                Le Vendeur s'engage, en cas d'indisponibilité du bien, à modifier le formulaire du Produit afin de le passer au statut "Indisponible" 
                                dans les plus brefs délais. Même si l'indisponibilité n'est que momentanée, le Vendeur pourra inversement modifier le formulaire
                                du Produit afin de le repasser au statut "Disponible". 
                            </p>
                            <p>
                                Le Vendeur s’engage à proposer une description, de Boutique et de Produit, conforme.
                            </p>
                            <p>
                                Le Vendeur déclare connaître l'étendue de diffusion du Site, 
                                avoir pris toutes précautions pour respecter la législation en vigueur des lieux de réception et décharger "le Marché Virtuel" 
                                de toutes responsabilités à cet égard.
                            </p>
                            <p>
                                Dans ce cadre, l'Annonceur déclare et reconnaît qu'il est seul responsable du contenu des Contenus (Boutique et Produits) qu'il publie 
                                et rend accessibles aux Utilisateurs, ainsi que de tout document ou information qu'il transmet aux Utilisateurs.
                            </p>
                            <p>
                                Le Vendeur assume l'entière responsabilité éditoriale du contenu qu'il publie.
                            </p>
                            <p>
                                En conséquence, le Vendeur relève "le Marché Virtuel" de toutes responsabilités, 
                                les garantit contre tout recours ou action en relation avec le Produit qui pourrait être intenté contre ces derniers par tout tiers, 
                                et prendra à sa charge tous les dommages-intérêts ainsi que les frais et dépens auxquels ils pourraient être condamnés 
                                ou qui seraient prévus à leur encontre par un accord transactionnel signé par ces derniers avec ce tiers, 
                                nonobstant tous dommages-intérêts dont "le Marché Virtuel" pourrait réclamer à raison des faits dommageables du Vendeur.
                            </p>
                            <p>
                                En déposant tout contenu (Boutique / Produit), chaque Vendeur reconnaît et accepte que "Le Marché Virtuel" puisse supprimer, ou refuser, 
                                à tout moment, un Contenu qui serait contraire notamment à la loi française, aux règles de diffusion du Service "Marché Virtuel" 
                                fixées par "Le marché Virtuel" et accessibles ici et/ou susceptible de porter atteinte aux droits de tiers.
                            </p>
                            <p>
                                De manière générale, il est de la responsabilité des Vendeurs de vérifier leur statut de particulier ou de professionnel, 
                                notamment au regard des articles L 121-1 et L 110-1 du Code de commerce selon lesquels 
                                "sont commerçants ceux qui exercent des actes de commerce et en font leur profession habituelle" 
                                et "La loi répute actes de commerce : tout achat de biens meubles pour les revendre, soit en nature, 
                                soit après les avoir travaillés et mis en œuvre [...]".
                            </p>
                            <p>
                                En cas de diffusion de Contenu (Boutique/Produit) par un Vendeur inscrit en tant que particulier titulaire d'un Compte Personnel, 
                                dont l'activité peut être assimilée à une activité professionnelle, "Le Marché Virtuel" se réserve le droit de restreindre 
                                l'utilisation du Service "Le Marché Virtuel", notamment de refuser ou limiter le nombre de Contenus que l'Annonceur peut mettre en ligne 
                                sur le Site.
                            </p>
                            <p>
                                Tout Contenu (Boutique/Produit) est diffusé, à compter du jour de son dépôt sur le Site Internet. 
                            </p>
                            <p>
                                L'Annonceur s'engage également à ce que son Compte Personnel ne contienne :
                                <ul>
                                    <li>
                                        aucune information obligatoire fausse et/ou mensongère
                                    </li>
                                    <li>
                                        aucune information portant atteinte aux droits d'un tiers
                                    </li>
                                    <li>
                                        aucune photographie (i) pour laquelle il ne détient pas les droits de propriété intellectuelle, 
                                        (ii) sur laquelle d'autres personnes que lui-même sont visibles à moins que ces personnes aient donné 
                                        leur accord pour la publication de ces photographies, 
                                        (iii) sur laquelle des données à caractère personnel sont visibles ou (iv) 
                                        qui sont ou sont susceptibles d'être considérées comme des photographies érotiques ou pornographiques, 
                                        ou contraires aux bonnes mœurs ou à l'ordre public.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                Dans ce cadre, le titulaire déclare et reconnaît qu'il est seul responsable des informations renseignées 
                                lors de la création de son Compte.    
                            </p>
                            <p>
                                En créant un Compte, chaque titulaire reconnaît et accepte que "Le Marché Virtuel" puisse supprimer, à tout moment, 
                                sans indemnité ni droit à remboursement des sommes engagées par le Vendeur, un compte qui serait contraire notamment 
                                à la loi française et/ou aux règles de diffusion fixées par "Le Marché Virtuel" et accessibles ici.
                            </p>
                            <p>
                                L’Annonceur reconnaît et accepte que "Le Marché Virtuel" puisse lui demander tout document permettant de vérifier 
                                la qualité renseignée lors de la création de son Compte et la détention des droits et/ou l’obtention des autorisations nécessaires 
                                à la publication de son Contenu (Boutique/Produit).
                            </p>
                            <p>
                                A défaut de communication des justificatifs demandés, "Le Marché Virtuel" est en droit de supprimer, ou refuser, à tout moment, 
                                sans indemnité ni droit à remboursement des sommes engagées par le Vendeur.
                            </p>
                            <h3>4.1 Engagements de l'Acheteur</h3>
                            <p>
                                Il est permis à tout Utilisateur de signaler un contenu abusif, par mail en cliquant sur le lien "Contact" en bas de page.
                            </p>
                            <p>
                                Lorsque l'Acheteur reçoit la livraison d'une commande expédiée par le Vendeur, l'Acheteur s'engage à notifier la bonne Réception de la commande 
                                depuis son "Espace Acheteur", dans la rubrique "Commandes" en cliquant sur le bouton "Livrée" correspondant à cette commande. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-6" aria-expanded="false" aria-controls="flush-collapseOne">
                            Article 5 : Propriété Intellectuelle 
                        </button>
                    </h2>
                    <div id="flush-collapse-6" class="accordion-collapse collapse" aria-labelledby="flush-6" data-bs-parent="#accordionFlush">
                        <div class="accordion-body">
                            <p>
                                5.1 Tous les droits de propriété intellectuelle (tels que notamment droits d'auteur, droits voisins, droits des marques, 
                                droits des producteurs de bases de données) portant tant sur la structure que sur les contenus du Site et notamment les images, 
                                logos, marques, éléments graphiques, textuels, visuels, outils, logiciels, documents, données, etc. 
                                (ci-après désignés dans leur ensemble " Eléments ") sont réservés. Ces Eléments sont la propriété de "Le Marché Virtuel". 
                                Ces Eléments sont mis à disposition des Utilisateurs (Acheteurs, Vendeurs, Visiteurs), à titre gracieux, 
                                pour la seule utilisation du Service "Le Marché Virtuel" et dans le cadre d'une utilisation normale de ses fonctionnalités. 
                                Les Utilisateurs (Acheteurs, Vendeurs, Visiteurs) s'engagent à ne modifier en aucune manière les Eléments.
                            </p>
                            <p>
                                Toute utilisation non expressément autorisée des Eléments du Site Internet entraîne une violation des droits d'auteur et 
                                constitue une contrefaçon. Elle peut aussi entraîner une violation des droits à l'image, droits des personnes ou de tous autres droits 
                                et réglementations en vigueur. Elle peut donc engager la responsabilité civile et/ou pénale de son auteur.
                            </p>
                            <p>
                                5.2 Il est interdit à tout Utilisateur et Vendeur de copier, modifier, créer une œuvre dérivée, inverser la conception 
                                ou l'assemblage ou de toute autre manière tenter de trouver le code source, vendre, attribuer, sous licencier ou transférer 
                                de quelque manière que ce soit tout droit afférent aux Eléments.
                            </p>
                            <p>
                                Tout Utilisateur et Annonceur du Service LEBONCOIN s'engagent notamment à ne pas :
                                <ul>
                                    <li>
                                        utiliser ou interroger le Service "Marché Virtuel" pour le compte ou au profit d'autrui ;
                                    </li>
                                    <li>
                                        extraire, à des fins commerciales ou non, tout ou partie des informations ou des Produits ou Boutiques présentes 
                                        sur le site "Le Marché Virtuel" ;
                                    </li>
                                    <li>
                                        reproduire sur tout autre support, à des fins commerciales ou non, tout ou partie des informations ou des Produit, Boutiques 
                                        présentes sur le site "Le Marché Virtuel" permettant de reconstituer tout ou partie des fichiers d'origine ;
                                    </li>
                                    <li>
                                        utiliser un robot, notamment d'exploration (spider), une application de recherche ou récupération de sites Internet 
                                        ou tout autre moyen permettant de récupérer ou d'indexer tout ou partie du contenu du Site Internet, 
                                        excepté en cas d'autorisation expresse et préalable de "Le Marché Virtuel";
                                    </li>
                                    <li>
                                        copier les informations sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d'origine.
                                    </li>
                                    <li>
                                        Toute reproduction, représentation, publication, transmission, utilisation, modification ou extraction de tout ou partie 
                                        des Eléments et ce de quelque manière que ce soit, faite sans l'autorisation préalable et écrite de LBC France est illicite. 
                                        Ces actes illicites engagent la responsabilité de ses auteurs et sont susceptibles d'entraîner des poursuites judiciaires 
                                        à leur encontre et notamment pour contrefaçon.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                5.3. Les marques et logos "Le Marché Virtuel" sont des marques déposées. 
                                Toute reproduction totale ou partielle de ces marques et/ou logos sans l'autorisation préalable et 
                                écrite de "Le Marché Virtuel" est interdite.
                            </p>
                            <p>
                                5.4. "Le Marché Virtuel" est producteur des bases de données du Service "Le Marché Virtuel". 
                                En conséquence, toute extraction et/ou réutilisation de la ou des bases de données au sens 
                                des articles L 342-1 et L 342-2 du code de la propriété intellectuelle est interdite.
                            </p>
                            <p>
                                5.5. "Le Marché Virtuel" se réserve la possibilité de saisir toutes voies de droit à l'encontre des personnes 
                                qui n'auraient pas respecté les interdictions contenues dans le présent article.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footix">
            {% include "/public/shared/_footer.html.twig" %}
        </div>
    </section>

{% endblock %}